nav {
  display: flex;
  height: 120px;
  width: auto;
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: xx-large;
  font-family: 'Bungee';
  padding-left: 1.5em;
  padding-right: 1.5em;
  justify-content: space-between;
  align-items: center;
}

.double-arrow-and-new-tweet {
  display: flex;
  align-items: center; 
  flex-direction: column;
  margin-top: 50px;
}

.Write-a-new-tweet {
  display: flex;
  font-family: 'Source Sans Pro';
  font-size: large;
}

#darrow {
  color: red;
}

.logo {
  margin-top: 50px;
}